<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>

    <meta
        name="description"
        content="Home Landing Page"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>
    <a class="skip-link" href="#main-content">
        Skip to main content
    </a>

    <header class="site-header">
        <div>
            <h1>{{ site.title }}</h1>
            <p>{{ site.subtitle }}</p>
        </div>

        <button
            id="theme-toggle"
            type="button"
            aria-label="Toggle light and dark mode"
        >
            Toggle Theme
        </button>
    </header>

    <nav
    class="win98-navbar"
    aria-label="Primary navigation"
>
    <ul class="nav-list">
        {% for item in nav_menu %}
        <li>
            <a href="{{ item.href }}">
                {{ item.label }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>

    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Faulkner Hosted with Love</p>
    </footer>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>